* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

  .col--lg-1 { width: 25%; }
  .col--lg-2 { width: 50%; }
  .col--lg-3 { width: 75%; }
  .col--lg-4 { width: 100%; }

.container{
  width: 320px;
  margin: 0 auto;
}

.wrapper{
  margin: 0 auto;
  width: 288px;
}

.header{
  background: url(../img/bg_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -260px 0px;
}

.menu--header{
  padding-top: 30px;
  padding-bottom: 104px;
  width: 100%;
  position: relative;
}

.logo{
  position: relative;
  z-index: 3;
}

.logo--text{
  font-family: 'Prata';
  color: #eec643;
  font-size: 30px;
  font-weight: 400;
  line-height: auto;
  padding-left: 0;
}

.mobile-menu {
  font-size: 0;
  width: 24px;
  height: 22px;
  border: none;
  background-color: transparent;
  transform: rotate(90deg);
  position: absolute;
  right: 30px;
  z-index: 2;
}

.mobile-menu:before,
.mobile-menu:after {
  content: '';
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.mobile-menu:before {
  top: 0;
  left: 0;
}

.mobile-menu:after {
  bottom: 0;
  left: 0;
}

.mobile-menu--items:before,
.mobile-menu--items:after {
  content: '';
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: white;.mobile-menu--items
}

 .mobile-menu:hover .mobile-menu--items:before{
  transform: rotate(-135deg);
}

.mobile-menu:hover .mobile-menu--items:after{
  transform: rotate(-45deg);
} 

.mobile-menu:hover:before {
  transform: translate(-100%);
  opacity: 0;
}

.mobile-menu:hover:after {
  transform: translate(100%);
  opacity: 0;
}

.mobile-menu:active .mobile-menu--items:before{
  transform: rotate(-135deg);
}

.mobile-menu:active .mobile-menu--items:after{
  transform: rotate(-45deg);
} 

.mobile-menu:active:after {
  transform: translate(100%);
  opacity: 0;
}

.menu--hidden {
  overflow: hidden;
}

.menu--nav{
  height: 170px;
  width: 320px;
  background-color: black;
  position: absolute;
  top: -170px;
  right: 0;
  left: -16px;
  transition: all 1s;
  z-index: 1;
}

.menu-nav--list {
  list-style: none;
  padding-top: 70px;
  padding-left: 16px;
}

.menu-nav--list--item{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}

.promo{
  display: flex;
  flex-direction: column;
}

.promo--title{
  font-family:'Prata';
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0;
  font-weight: 400;
  color: white;
  margin: 0;
}

input[type=submit] {
  color: white;
  text-align: center;
  border:0px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  width: 270px;
  height: 70px;  
  opacity: 1;
  background:black;
}

input[type=text], select{
  border : 0 none;
  margin-left: 30px;
  margin-bottom: 24px;
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  color: #596063;
  width: 210px;
  border-bottom: 2px solid black;
  padding: 3px;
}

select{
  margin-bottom: 60px;
}

.promo_form--form{
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  top: -530px;
  transition: all 1.5s linear;
  position: absolute;
  z-index: 4;
}

.promo_form{
  overflow: hidden;
}

.lesson{
  background: #eec643;
  color: white;
  text-align: center;
  border:0px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  width: 287px;
  height: 70px; 
  margin-top: 85px; 
  margin-bottom: 32px;
  z-index: 2;
}

.promo_form--title{
  font-family: 'PT Sans';
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 28px;
  padding-left: 30px;
}

.form--text{
  margin-top: 27px;
  margin-bottom: 60px;
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
  color: #021a23;
  padding-left: 30px;
}

.promo--text{
  padding-top: 10px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  color: white;
}

.promo_form:hover .promo_form--form{
  top: 0px;
}

.directions,
.advantages,
.video{
  display: flex;
  flex-wrap: row;
  margin-top: 37px;
}

.directions--row,
.advantages--row,
.contacts--row{
  display: flex; 
  flex-direction: column;
}

.directions--title,
.advantages--title-text,
.video--title,
.contacts--title{
  font-family: 'Prata';
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.003px;
  font-weight: 400;
  position: relative; 
  padding: 7px;
}

.advantages--title{
  position: relative;
}

.advantages--title-text{
  position: absolute;
  width: 500px;
}


.directions--title:before,
.advantages--title-text:before,
.directions--title:after,
.advantages--title-text:after,
.video--title:before,
.video--title:after,
.contacts--title:before,
.contacts--title:after{
  content: '';
  position: absolute;
  width: 228px;
  height: 2px;
  background-color: #eec643;
}

.directions--title::before,
.advantages--title-text:before,
.video--title:before,
.contacts--title:before{
  top: 0;
  left: 0;
}

.directions--title::after,
.advantages--title-text:after,
.video--title:after,
.contacts--title:after {
  bottom: 0;
  left: 0;
}

.direction_item1,
.direction_item2,
.direction_item3,
.advantages_item1,
.advantages_item2,
.advantages_item3{
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
  width: 288px;
  height: 143px;
  padding: 0;
}

.video_item1,
.video_item2,
.video_item3,
.video_item4{
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 16px;
  width: 240px;
  height: 185px;
  padding: 0;
}

.advantages--row--items{
  flex-direction: column;
}

.direction_item1{
  background-image: url(../img/directions_card_img_2.jpg);
  margin-top: 12px;
}
.direction_item2{
  background-image: url(../img/directions_card_img_1.jpg);
  margin-top: 16px;
}

.directions--row--items,
.advantages--row--items{
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.direction_item3{
  background-image: url(../img/directions_card_img_3.jpg);
  width: 211px;
  margin-top: 16px;
}
.direction_item4{
  display: none;
  padding: 0;
}

.direction_item5{
  height: 143px;
  width: 57px;
  background-color: #eec643;
  margin-top: 16px;
  position: relative;
  margin-left: 16px;
}

.direction_form--text{
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  transform:rotate(-90deg); 
  bottom: 20px;
  left: 0px;
  right: 0;
}

.direction_item--title,
.advantages_item--title, .direction_item2--title{
  padding-left: 10px;
  padding-top: 32px;
  color: white;
  font-family: PT Sans;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 400;
}

.direction_item--text,
.advantages_item--text{
  padding-left: 10px;
  padding-top: 5px;
  color: white;
  font-family: PT Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}

.advantages_item1{
  background-image: url(../img/advantages_card_img_1.jpg);
  margin-top: 55px;
}

.advantages_item2{
  background-image: url(../img/advantages_card_img_2.jpg);
  margin-top: 16px;
}

.advantages_item3{
  background-image: url(../img/advantages_card_img_3.jpg);
  margin-top: 16px;
  width: 211px;
}

.row--advan{
  display: inline-flex;
  justify-content: space-between;
  position: relative;
}

.advantages-lesson{
  height: 143px;
  width: 57px;
  background: #eec643;
  color: white;
  border:0px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  width: 59px;
  height: 145px; 
  margin-top: 15px;
  margin-left: 13px;
  z-index: 2;
  position: absolute;
  right: -144px;
}

.advantages_form--form{
  width: 270px;
  background-color: #fff;
  transition: all 3s linear;
  position: absolute;
  z-index: 4;
  margin-left: 100px;
  display: none;
}

.video{
  position: relative;
  margin-bottom: 33px;
}

.video--row{
  padding-top: 20px;
  display: flex;
  position: relative;
}

.video--title{
  width: 60%;
}

.video_item1,
.video_item2,
.video_item3,
.video_item4{
  height: 186px;
  width: 240px;
  margin-left: 40px;
  margin-right: 40px;
}

.video_item1{
  background-image: url(../img/video_card_img_1.jpg);
  background-size: cover;
  background-position-x: -35px;
}

.video_item2{
  background-image: url(../img/video_card_img_2.jpg);
}

.video_item3{
  background-image: url(../img/video_card_img_3.jpg);
}

.video_item4{
  background-image: url(../img/video_card_img_4.jpg);
}

.video_img{
  display: flex;
  position: absolute;
  margin-left: 110px;
  margin-top: 80px;
}


.video_item1--title{
  padding-top: 136px;
  padding-left: 10px;
  color: white;
  font-family: PT Sans;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 700;

}

.video_item--text-mobile{
  padding-left: 10px;
  padding-top: 5px;
  color: white;
  font-family: PT Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}

.video_mobile--hidden{
  display: none;
}


.video_mobile--slider, .menu{
  width: 320px;
}

.slider .slick-arrow{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: pink;
  background: transparent;
  transform: translateY(-50%);
  font: 0/0 a;
  color:transparent;
  z-index: 1;
}

.slider .slick-arrow:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent ;
  transform: translate(-50%, -50%);
  border-top: 2px solid #eec643;
}

.slider .slick-prev{
  left:0;
  z-index: 2;
}

.slider .slick-prev:before{
  border-left: 2px solid #eec643;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slider .slick-next{
  right: 0;
  z-index: 2;
}

.slider .slick-next:before{
  border-right: 2px solid #eec643;
  transform: translate(-50%, -50%) rotate(45deg);
}

.contacts{
  position: relative;
  overflow: hidden;
}

.contacts_title{
  position: absolute;
}

.contact--map{
   height: 217px;
   width: 286px;
}

.adress{
  position: relative;
  margin-top: 70px;
  margin-bottom: 15px;
}

.adress--text1,
.adress--text2{
  font-family: PT Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}

.contact_form--form{
  width: 270px;
  background-color: #fff;
  margin-left: 8px;
  transition: all 1.5s linear;
  position: absolute;
  bottom: -550px;
}

.contact--lesson{
  background: #eec643;
  color: white;
  text-align: center;
  border:0px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  width: 287px;
  height: 70px; 
  margin-top: 18px; 
  margin-bottom: 32px;
  z-index: 2;
}


footer,
.video_img,
.menu_desktop,
.text1,
.promo--text_hidden_mobile,
.direction_item4--title,
.advantages_item--text_desktop,
.direction_item--text_desktop,
.direction_item2--text_desktop,
.video_item1--text{
  display: none;
}

@media (min-width: 1280px){

.header{
  background-position: 100% 100%;
}

.video_mobile--hidden{
  display: flex;
}

.video_mobile--slider{
  display: none;
}

.container{
  width: 1280px;
  margin: 0 auto;
}

.wrapper{
  margin: 0 auto;
  width: 1170px;
}

.mobile-menu,
.menu--hidden{
  display: none;
}

.menu_desktop{
  display: flex;
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: #021a23;
  justify-content: flex-end;
}

.menu_desktop--link{
  padding-left: 45px;
  list-style: none;
  display: inline-block;
}

.menu_desktop--list{
  transition: color 1s linear;
}

a{
  text-decoration: none;
  text-align: center;
  color: black;
  line-height: 30px;
}


.menu_desktop--list:hover {
  color: #a84b00;
}

.text1, .promo--text_hidden_mobile{
  display: inline-flex;
}

.promo--title{
  font-size: 55px;
  line-height: 55px;
  letter-spacing: 0;
  font-weight: 400;
  color: white;
  margin-top: 245px;
}

.promo--text{
  padding-top: 40px;
  font-size: 20px;
  line-height: 28px;
  width: 70%;
}

.promo--text_hidden_desktop,
.lesson{
  display: none;
}

.promo_form--form{
  margin: 0 auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  top: 0;
  position: relative;
  margin-bottom: 145px;
  margin-top: 135px;
}

.promo_form--fieldset{
  padding: 0;
  border: 2px solid black;
}

.promo {
  display: inline-flex;
  flex-direction: row;
}

.menu{
  padding-top: 40px;
  padding-bottom: 0;
}

.direction_item1{
  height: 267px;
  width: 570px;
  margin-top: 0;
  margin-left: 16px;
}

.direction_item2, .direction_item3{
  height: 267px;
  width: 469px;
  margin-top: 0;
  margin-left: 99px;
}

.direction_item4{
  display: flex;
  flex-direction: column;
  background-image: url("../img/directions_card_img_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
  width: 270px;
  height: 267px;
  padding-top: 0;
  margin-left: 16px;
}

.directions--row{
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.directions--desktop{
  position: relative;
}
.directions--title{
  position: absolute;
  transform: rotate(-90deg);
  top: 280px;
  left: -230px;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 50px;
}

.direction_form--text{
  display: none;
}

.directions--row--items{
  margin-top: 30px;
}

.direction_item5{
  height: 267px;
  width: 270px;
  margin-top: 0;
  margin-left: 22px;
}

.directions--title:before,
.advantages--title-text:before,
.directions--title:after,
.advantages--title-text:after,
.video--title:before,
.video--title:after,
.contacts--title:before,
.contacts--title:after{
  content: '';
  position: absolute;
  width: 564px;
  height: 2px;
  background-color: #eec643;
}

.direction_item--title, .direction_item4--title{
  display: flex;
  padding-left: 31px;
  padding-top: 34px;
  color: white;
  font-family: PT Sans;
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 700;
}

.direction_item--text,
.advantages_item--text{
  display: none;
}

.direction_item--text_desktop{
  display: flex;
  padding-left: 31px;
  padding-top: 27px;
  color: white;
  font-family: PT Sans;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
}

.direction_item2--title{
  padding-left: 31px;
  padding-top: 23px;
  color: white;
  font-family: PT Sans;
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 700;
}

.direction_item2--text_desktop{
  display: flex;
  padding-left: 31px;
  padding-top: 30px;
  color: white;
  font-family: PT Sans;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
}

.advantages--row--items{
  flex-direction: row;
}

.advantages{
  margin-top: 90px;
}

.advantages--title-text, .contacts--title{
  font-size: 50px;
  letter-spacing: 0;
  line-height: 50px;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 11px;
}

.advantages_item--text_desktop{
  display: flex;
  padding-left: 30px;
  padding-top: 38px;
  color: white;
  font-family: PT Sans;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
}

.advantages--row{
  flex-direction: row;
}

.advantages_item1, .advantages_item2 {
  margin-top: 100px;
  height: 469px;
  width: 270px;
  background-size: cover;
  background-position: -100px 0;
}

.advantages-lesson{
  display: none;
}

.advantages_form{
  margin-left: 22px;
  height: 267px;
}

.advantages_form--form{
  width: 270px;
  background-color: #fff;
  z-index: 4;
  position: relative;
  margin-left:0;
  display: flex;
  flex-direction: column;
}

.advantages_form--title{
  font-family: 'PT Sans';
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 700;
  margin-top: 44px;
  color: #eec643;
  padding-left: 18px;
}

.advantages_item--title{
  padding-top: 28px;
  padding-left: 30px;
  font-family: 'PT Sans';
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 700; 
}

.advantages_form input[type=submit] {
  background: #eec643;
  color: white;
  text-align: center;
  border:0px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  width: 270px;
  height: 70px;  
  opacity: 1;
}

.advantages_form input[type=text], .advantages_form--select{
  border : 0 none;
  border-bottom: 2px solid #eec643;
  line-height: 28px;
  margin-top: 0px;
  margin-left: 18px;
  margin-bottom: 20px;
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  color: #596063;
  width: 210px;
  padding: 3px;
}

.advantages_form--fieldset{
  border: 2px solid #eec643;
}
.advantages_form--select{
  margin-bottom: 58px;
}

.advantages_item3{
  margin-top: 0;
  height: 570px;
  width: 270px;
  background-size: cover;
  background-position: -140px 20px;
  margin-left: 16px;
}

.advantages_form--text{
  margin-bottom: 130px;
  margin-top: 24px;
  padding-left: 18px;
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
  color: #021a23;
}

.video{
  margin-top: 90px;
  margin-bottom: 90px;
}

.video--row{
  padding-top: 0;
  margin-top: -64px;
}

.video--title{
  transform: rotate(-90deg);
  width: 100%;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 50px;
  right: 560px;
  top: -54px;
}

.video_item2,
.video_item3,
.video_item4{
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 270px;
  margin-top: 0;
  margin-left: 22px;
}

.video_item3,
.video_item4{
  margin-top: 29px;
}

.video_item1{
  height: 568px;
  width: 770px;
  margin-left: 100px;
}

.video_item1--title{
  padding-top: 27px;
  padding-left: 30px;
  font-family: 'PT Sans';
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 700;
  color: white;
}

.video_item1--text{
  display: flex;
  padding-top: 27px;
  padding-left: 30px;
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
  color: white;
}

.video_item--text-mobile{
  display: none;
}

.video_item--title{
  padding-top: 125px;
  padding-left: 15px;
  font-family: 'PT Sans';
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 700;
  color: white;
}

.video_item--text{
  padding-top: 3px;
  padding-left: 15px;
  color: white;
  font-family: PT Sans;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
}

.video_img{
  display: flex;
  position: absolute;
  margin-left: 380px;
  margin-top: 240px;
}

.video_img2{
  position: absolute;
  margin-left: -15px;
  margin-top: 70px;
}

.contacts{
  margin-bottom: 90px;
  overflow: inherit;
}

.contacts--row{
  flex-direction: row;
}

.row{
  flex-wrap: nowrap;
}

.lesson{
  margin-top: 15px;
}

.contact--lesson{
  display: none;
}

footer{
  display: flex;
  margin-bottom: 50px;
}

.adress{
  margin-top: 25px;
  margin-left: 600px;
  margin-bottom: 25px;
}

.adress--text1,
.adress--text2{
  font-size: 20px;
  line-height: 28px;
}

.contacts_title{
  padding-left: 0;
  padding-top: 5px;
}

.menu--footer{
  padding-top: 0;
}
.contact--map{
  height: 470px;
  width: 870px;
}

}