* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 320px;
  margin: 0 auto;
}

.wrapper{
  margin: 0 auto;
  width: 288px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

  .col--lg-1 { width: 25%; }
  .col--lg-2 { width: 50%; }
  .col--lg-3 { width: 75%; }
  .col--lg-4 { width: 100%; }

.header{
  background-image: url(../img/bg_main.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.menu{
  padding-top: 30px;
  width: 100%;
  position: relative;
}

.logo{
  position: relative;
  z-index: 3;
}
.logo--text{
  font-family: 'Prata';
  color: #eec643;
  font-size: 30px;
  font-weight: 400;
  line-height: auto;
}


button{
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  z-index: 2;
}
.burger {
  font-size: 0;
  width: 24px;
  height: 22px;
  border: none;
  background-color: transparent;
}

.burger:before,
.burger:after {
  content: '';
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.burger:before {
  top: 0;
  left: 0;
}

.burger:after {
  bottom: 0;
  left: 0;
}

span:before,
span:after {
  content: '';
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: white;
}

.burger:hover span:before{
  transform: rotate(-135deg);
}

.burger:hover span:after{
  transform: rotate(-45deg);
}

.burger:hover:before {
  transform: translate(-100%);
  opacity: 0;
}

.burger:hover:after {
  transform: translate(100%);
  opacity: 0;
}

.burger:active span:before{
  transform: rotate(-135deg);
}

.burger:active span:after{
  transform: rotate(-45deg);
}

.burger:active:after {
  transform: translate(100%);
  opacity: 0;
}

.menu--hidden {
  overflow: hidden;
}

.menu--nav{
  height: 170px;
  width: 320px;
  background-color: black;
  position: absolute;
  top: -170px;
  right: 0;
  left: -16px;
  transition: all 1s;
  z-index: 1;
}

.menu--hidden:hover .menu--nav{
  top: 0;
}


.menu-nav--list {
  list-style: none;
  padding-top: 70px;
  padding-left: 16px;
}

.menu-nav--list--item{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}

.promo{
  display: flex;
  flex-direction: column;
}

.promo--title{
  font-family:'Prata';
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0;
  font-weight: 400;
  color: white;
}

.text1{
  display: none;
}

.promo--text{
  padding-top: 25px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  color: white;
}

.promo_form{
  margin-top: 90px;
  margin-bottom: 30px;
  width: 288px;
  height: 60px;
  background-color: #eec643;
  text-align:  center;
  padding: 22px;
}

.promo_form--text{
  color: white;
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  text-decoration: none;
}

.directions,
.advantages,
.video{
  display: flex;
  flex-wrap: row;
  margin-top: 25px;
}

.directions--row,
.advantages--row,
.contacts--row{
  display: flex;
  flex-direction: column;
}

.directions--title,
.advantages--title,
.video--title,
.contacts--title{
  font-family: 'Prata';
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.003px;
  font-weight: 400;
  position: relative;
  padding: 7px;
}

.directions--title:before,
.advantages--title:before,
.directions--title:after,
.advantages--title:after,
.video--title:before,
.video--title:after,
.contacts--title:before,
.contacts--title:after{
  content: '';
  position: absolute;
  width: 228px;
  height: 2px;
  background-color: #eec643;
}

.directions--title::before,
.advantages--title:before,
.video--title:before,
.contacts--title:before{
  top: 0;
  left: 0;
}

.directions--title::after,
.advantages--title:after,
.video--title:after,
.contacts--title:after {
  bottom: 0;
  left: 0;
}

.direction_item1,
.direction_item2,
.direction_item3,
.advantages_item1,
.advantages_item2,
.advantages_item3,
.video_item1,
.video_item2,
.video_item3,
.video_item4{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 12px;
  width: 288px;
  height: 143px;
  padding: 0;
}

.direction_item1{
  background-image: url(../img/directions_card_img_2.jpg);
  margin-top: 12px;
}
.direction_item2{
  background-image: url(../img/directions_card_img_1.jpg);
  margin-top: 16px;
}

.directions--row--items,
.advantages--row--items{
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.direction_item3{
  background-image: url(../img/directions_card_img_3.jpg);
  width: 211px;
  margin-top: 16px;
}
.direction_item4{
  display: none;
  padding: 0;
}

.direction_item5,
.advantages_item5{
  height: 143px;
  width: 57px;
  background-color: #eec643;
  margin-top: 16px;
  position: relative;
  margin-left: 16px;
}
.direction_form--text,
.advantages_form--text{
  color: #021a23;
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  transform:rotate(-90deg); 
  left: -20px;
  bottom: 40px;
}

.direction_item--title,
.advantages_item--title{
  padding-left: 10px;
  padding-top: 32px;
  color: white;
  font-family: PT Sans;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 400;
}

.direction_item--text,
.advantages_item--text{
  padding-left: 10px;
  padding-top: 5px;
  color: white;
  font-family: PT Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}

.advantages_item1{
  background-image: url(../img/advantages_card_img_1.jpg);
  margin-top: 12px;
}

.advantages_item2{
  background-image: url(../img/advantages_card_img_2.jpg);
  margin-top: 16px;
}

.advantages_item3{
  background-image: url(../img/advantages_card_img_3.jpg);
  margin-top: 16px;
  width: 211px;
}

.video{
  position: relative;
  margin-bottom: 33px;
}
.title{
  position: absolute;
}

.video--row{
  padding-top: 84px;
  display: flex;
}

.video_item2,
.video_item3,
.video_item4{
  margin-top: 17px;
  display: none;
}

.video_item1{
  background-image: url(../img/video_card_img_1.jpg);
  margin-top: 17px;
  height: 188px;
  width: 240px;
}

.video_item2{
  background-image: url(../img/video_card_img_2.jpg);
}

.video_item3{
  background-image: url(../img/video_card_img_3.jpg);
}

.video_item4{
  background-image: url(../img/video_card_img_4.jpg);
}

.video_item--title{
  padding-left: 10px;
  color: white;
  font-family: PT Sans;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: 400;
  padding-top: 136px;
}

.video_item--text{
  padding-left: 10px;
  padding-top: 5px;
  color: white;
  font-family: PT Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}

.contacts_title{
  position: absolute;
}

.map{
   background-image: url(../img/map.jpg);
   height: 217px;
   width: 286px;
   margin-top: 17px;
}

.contacts_form{
  margin-bottom: 30px;
  width: 288px;
  height: 60px;
  background-color: #eec643;
  text-align:  center;
  padding: 22px;
}

.adress{
  position: relative;
  margin-top: 70px;
}

.adress--text1,
.adress--text1{
  font-family: PT Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}

footer{
  display: none;
}
